{% extends 'base.html' %}
{% block content %}

    {% if object %}
    <div class="card card-title">
        <div class="card-content center title">
            <h3 class="title">Edit {{ object.name }}</h3>
        </div>
    </div>
    {% else %}
    <div class="card card-title">
        <div class="card-content center title">
            <h3 class="title">Add a Pet</h3>
        </div>
    </div>
    {% endif %}

    <form class="form-look" action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit!" class="btn blue">
    </form>
    <script>
        const selectEl = document.getElementById('id_species')
        M.FormSelect.init(selectEl)
    </script>
{% endblock %}