{% extends 'base.html' %}
{% block content %}

    {% if object %}
        <h3>Edit {{ object.name }}</h3>
    {% else %}
        <h3>Add a Pet</h3>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit!" class="btn">
    </form>
    <script>
        // identify the element
        // here is where we'll render the dropdown (select)
        const selectEl = document.getElementById('id_species')
        M.FormSelect.init(selectEl)
    </script>
    <!-- this was added to creat the costume drop down aka taken from the finch code along lol -->

{% endblock %}