{% extends 'base.html' %}
{% block content %}

    <h3>Rx List</h3>

    {% for rx in object_list %}
        <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">
                        <h6><strong>{{rx.name}}</strong> - {{rx.description}} </h6>
                        <h6><strong>Instructions</strong> - {{rx.treatment}} </h6>
                    </span>
                </div>
            <a href="{% url 'rxs_detail' rx.id %}" class="waves-effect waves-light btn">Details</a>
        </div>
    {% endfor %}

{% endblock %}