{% extends 'base.html' %}
{% block content %}
<div class="card card-title">
    <div class="card-content center title">
        <h1>About PetDesk</h1>
    </div>
</div>
<div class="card form-look">
    <div class="card-content">
        <span class="card-title center"><strong>About the Project</strong></span>
        <p class="center"><strong>This is a Django (GA) General Assembly Immersive Project</strong></p>
        <p>PetDesk had its inspiration drawn from the idea of a software solution to check pets into an animal clinic.</p>
        <p>Our team of three members had one week to design and implement a Full Stack Django Application using PostgreSQL 
            with (1:M) and (M:M) relationships. Additionally, the application had to support full CRUD data operations 
            while authenticating users with the appropriate authorization. 
        <p class="center">Please take the time and explore our application.</p>
        </p>
    </div>
</div>

<div class="card form-look">
    <div class="card-content">
        <span class="card-title center"><strong>GA Immursive Students</strong></span>
        <p class="center">Spenser Glerum</p>
        <p class="center">Albijon Dulatahu</p>
        <p class="center">Paul Kerschieter</p>
    </div>
</div>


{% endblock %}