body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: white url(../images/bavkground1.jpg);
    background-size: contain;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.text-size {
    font-size: 5px !important;
}

#text-size {
    font-size: 5px !important;
}
